body{
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(15, 88, 0);
}

@media(max-width: 720px){
    body{
        margin-top: 100px;
    }
}